/* Universal Selector */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Courier New', Courier, monospace;
   background-color: #eff5f8;
}

/* Element selector */
header {
    padding: 20px;
    display: flex;
    justify-content: space-between
}

main {
    text-align: center;
    padding: 15%;
}

h2 {
    padding: 20px;
    font-size: 30px;
}

button, .button {
    background-color: #76b5c5;
    margin: 15px;
    padding: 5px;
}

button:hover, .button:hover {
    background-color: #154c79;
    cursor: pointer;
}

header p {
    color: #76b5c5;
}

/* Class selector */
.timer {
    padding: 20px;
    font-size: 20px;
}

.startBtn {
    padding: 10px;
}

.hidden {
    display: none;
}

.answer-choices button {
    display: block;
    width: auto;
    font-size: 25px;
}

.correct-wrong {
    font-size: 25px;
    color: #154c79;
    font-weight: bold;
}

.question-page {
    position: relative;
}

/* Id selector */
#hsbtn {
    border: none;
    background-color: #eff5f8;
    color: #76b5c5;
    font-size: 20px;
}

#hsbtn:hover {
    color: #154c79;
    cursor: pointer;
}